@import url('https://fonts.googleapis.com/css?family=Ubuntu');

body{
    font-family: 'Ubuntu', sans-serif;

}

.image-text {
    position:absolute;
    display: flex;
    right: 10px;
    top: 5px;
    text-align: center;
    justify-content: space-between;
    font-size: 15px;
}

.image-text-links {
        align-self: center;
        color: white;
        padding: 4px;
}

.profile-pic {
    border-radius: 50%
}
/* unvisited link */
a:link {
    color:white;
     text-decoration: none;
}

/* visited link */
a:visited {
    color: lightgray;
     text-decoration: none;
}

/* mouse over link */
a:hover {
    color: lightslategrey;
     text-decoration: none;
}

/* selected link */
a:active {
    color: dimgray;
     text-decoration: none;
}



canvas {
        position: absolute;
     top: 8px; 
     left: 8px; 
     opacity: .8; 
     height: 32px;
}